
.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
}

[class*=columna]{
	float: left;
	margin-left: 20px;
}

.columna1 { width: 60px; }
.columna2 { width: 140px; }
.columna3 { width: 220px; }
.columna4 { width: 300px; }

.clearfix {
	clear: both;
}
		
.row {
	margin-left: -20px;
}

.row:after,
.row:before {
	display: block;
	content: "";
	clear: both;
}
		
		
		
		
		
		
		